.hotel-checkout
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-checkout h3{
    font-size: 32px;
    font-weight: 600;
    margin: 20px 0px;
}

.hotel-checkout-info
{
    display: flex;
    width: 90%;
    gap: 20px;
    margin: 20px;

}

.hotel-checkout-details 
{
    font-weight: 500;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotel-checkout-details  p{
    color: darkslategrey;
    font-size: 16px;
}

.total-price
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.grand-total
{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
}


