.hotelSearch-container
{
    width: 100%;
    height: 100%;
}

.hotelSearch
{
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f2fcfe,
      #1c92d2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f2fcfe,
      #1c92d2
    ); 
}

.hotelSearch
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.searchHotel input{
    width: 500px;
    padding: 20px 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

}
.filter-list
{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
}

.filters
{
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 16px; 
    font-weight: 500;
}

form{
    margin-bottom: 10px;
}

form p{
    font-size: 20px;
    font-weight: 600;
}

form label
{
    margin-left: 5px;
}

.filters button
{
   background-color: blue;
   color: white;
   width: auto;
   margin-bottom: 10px;
   cursor: pointer;
}

.filters h4{
    font-size: 28px;
    font-weight: 600;
    margin-left: 5px;
    color: black
}

.hotel-list-container
{
    display: flex;
    flex-direction: column;
    flex: 0.9;
    margin-top: 45px;
}