.flight-search-container
{
  
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-result-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    
}

.flight-search-bgc
{
    background: #1c92d2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f2fcfe,
      #1c92d2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f2fcfe,
      #1c92d2
    ); 
}


.flight-update-form
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px;
    margin: 0 auto 50px auto;
    border: none;
    border-radius: unset;
    background-color: lightblue

   
}


.flight-update-form input
{
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}


.flight-update-form button
{
    
    font-size: 16px;
    color: gray;
    font-weight: 500;
    width: 120px;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid blue;
    background-color: white;
    color: black;

}

.flight-filter
{
    
    width: 20%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.flight-filter form{

    padding: unset;
    display: flex;
    flex-direction: column;
}

.flight-filter h4{
    font-size: 25px;
    font-weight: 600;
}

.flight-filter p{
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

.flight-filter label
{
    font-weight: 500;
    margin: 0px 10px;
    font-size: 16px;
}

.flight-filter button
{
    font-size: 16px;
    color: gray;
    font-weight: 500;
    padding: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(61, 61, 252);
    color: white;
    width: 200px;
}


/* .flight-list-container
{

} */